# Text Summarization With TD_IDF (Extractive Summarization)
Steps:
+ split the document into sentences
+ score each sentence using tfidf
+ rank each sentence by those scores
+ summary = Top ranks sentences
+ this is an extractive method of summarization

In [38]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
import os
import numpy as np
import pandas as pd

In [40]:
# Absolute to bbc_text_cls.csv file


dir= os.path.dirname(os.path.abspath("__file__"))
filename_path = os.path.abspath(os.path.join(dir, '..',"./bbc_text_cls.csv"))

bbc_df = pd.read_csv(filename_path)
bbc_df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business